@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

@media (min-width:1281px) and (min-device-width:1281px) and (max-width: 2560px){

	*{
		margin:0;
		padding: 0;
	}

	body{
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 2120px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	div#search-after{
		position: absolute;
		width: 100%;
		height: 1700px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 50;
		display: none;
	}

	input#search-after{
		position: relative;
		float: left;
	    width: 700px;
		height: 100px;
		margin-left: -350px;
		top:350px;
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		border: none;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		-webkit-color: #fff;
		-moz-color: #fff;
		-o-color: #fff;
		-ms-color: #fff;
		color: #fff;
		font-weight: 300;
		font-size: 30px;
	}

	a#btn-search-fechar{
		position: absolute;
		top:500px;
		padding: 5px 20px 5px 20px;
		background-color: #00ff7f;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		width: 60px;
		margin-left: -50px;
	}

	a#btn-search-fechar:hover{
		background-color: #ff00b8;
		transition: all 0.5s linear;
	}

	#container{
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 95%;
        height: 2090px;
        margin-left: 35px;
	}

	#cabecalho{
		width: 100%;
		height: 80px;
	}

	#logo{
		width: 200px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-header{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	.seta-azul{
		position: absolute;
		width: 15px;
		margin-left: 160px;
		margin-top: 35px;
		cursor: pointer;
	}

	nav#menu-mobile, #hamburguer{
		display: none;
	}

	nav#menu-desktop ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 150px;
	}

	nav#menu-desktop ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}

	#search{
		position: relative;
		float: right;
		width: 100px;
		height: 80px;
		border-left: 1px solid #0031ff;
		margin-top: -80px;
	}

	.lupa{
		position: absolute;
		float: left;
		margin-left: 34px;
		margin-top: 24px;
		cursor: pointer;
	}

    /* TÍTULO DA PÁGINA */
	section#site-title{
		width: 100%;
		height: 60px;
		background-color: #0031ff;
	}

	article#site-title{
		width: 1200px;
		height: 60px;
		margin-left: -600px;
	}

	article#site-title h3{
		text-align: center;
		font-size: 30px;
		color: #fff;
		margin-top: 10px;
	}

    /* BLOG BG */
	section#blog-bg{
		width: 100%;
		height: 216px;
		background: url('../img/blog-bg.png') no-repeat center center;
        background-size: cover; /*Css padrão*/
        -webkit-background-size: cover; /*Css safari e chrome*/
        -moz-background-size: cover; /*Css firefox*/
        -ms-background-size: cover; /*Css IE */
        -o-background-size: cover; /*Css Opera*/
	}

	article#blog-bg{
		width: 1200px;
		height: 216px;
		margin-left: -600px;
	}

    /* POST AREA */
    section#post-area{
		width: 100%;
		height: 1340px;
		border-bottom: 1px solid #0031ff;
	}

	article#post-area{
		width: 1200px;
		height: 1340px;
		margin-left: -600px;
	}

	div#post-info{
        position: relative;
        width: 1200px;
        height: 1300px;
        top: 70px;
    }

    div#post-info figure{
        width: 1200px;
        height: 400px;
        background-color: gray;
    }

    div#post-info h2{
        position: absolute;
        float: left;
        top: 500px;
        font-size: 24px;
        text-transform: uppercase;
    }

    a.category-link {
        position: absolute;
        float: left;
        background-color: #ff00b8;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #fff;
        top: 450px;
        text-decoration: none;
    }

    p.post-date {
        position: relative !important;
        float: right !important;
        border: 1px solid #0031ff;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #0031ff;
        top: -120px;
        text-decoration: none;
    }

    div#post-info p{
        position: absolute;
        float: left;
        margin-top: 150px;
    }

    /* NEWSLETTER */
	section#newsletter-contato{
		width: 100%;
		height: 320px;
		border-bottom: 1px solid #0031ff;
	}

	article#newsletter-contato{
		position: absolute;
		width: 1200px;
		height: 300px;
		margin-left: -600px;
	}

	div#newsletter{
		width: 600px;
		height: 320px;
		border-right: 1px solid #0031ff;
	}

	div#textos{
		position: relative;
		float: left;
		margin-top: 60px;
	}

	div#textos p{
		font-size: 18px;
		font-weight: 300;	
	}

	div#textos h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: -5px;	
	}

	div#textos p.gray{
		font-size: 12px;
		font-weight: 300;
		color: #888888;	
	}

	input.newsletter{
		position: relative;
		float: left;
		width: 250px;
		height: 30px;
		border: 1px solid #0031ff;
		padding-left: 15px;
		color: #0031ff;
		margin-left: 0px;
		font-family: 'Montserrat', sans-serif;
	}

	input.btn-ok{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: -267px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-ok:hover{
		background-color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	p.msg-success{
		position: absolute;
		float: left;
		margin-left: 110px;
		width: 170px;
		padding: 5px 5px 5px 5px;
		margin-top: 59px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

	p.msg-success-2{
		position: absolute;
		float: left;
		margin-left: 110px;
		width: 175px;
		padding: 5px 5px 5px 5px;
		margin-top: 24px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

    div#campo-newsletter{
		position: relative;
		float: left;
		margin-top: 160px;
		margin-left: -248px;
	}

	figure#img-newsletter{
		position: relative;
		float: left;
		margin-top: 20px;
		margin-left: 30px;
	}

	img.img-newsletter{
		width: 250px;
	}

	div#form-contato{
		position: relative;
		float: left;
		width: 200px;
		height: 300px;
		margin-left: 650px;
		margin-top: -305px;
	}

	div#form-contato h3{
		font-size: 24px;
	}

	input.form-contato{
		width: 300px;
		height: 30px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
	}

	textarea.textarea{
		width: 300px;
		height: 80px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		padding-top: 15px;	
	}

	input.btn-enviar{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #00ff7f;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: 0px;
		margin-top: 15px;
		cursor: pointer;
	}

	input.btn-enviar:hover{
		background-color: #0031ff;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	footer#rodape{
		width: 100%;
		height: 80px;
	}

	article#rodape{
		position: absolute;
		width: 1280px;
		height: 78px;
		margin-left: -640px;
	}

	div#redes-sociais{
		position: absolute;
		width: 200px;
		height: 78px;
		margin-top: -80px;
		margin-left: 520px;
		border-right: 1px solid #0031ff;
		border-left: 1px solid #0031ff;
	}

	.facebook, .twitter, .instagram{
		padding-left: 25px;
		width: 20px;
		margin-top: 30px;
		margin-left: 8px;
	}

	#logo-footer{
		width: 140px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-footer{
		position: absolute;
		float: left;
		margin-left: 0px;
		margin-top: 20px;
	}

	nav#menu-desktop-footer ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 10px;
	}

	nav#menu-desktop-footer ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop-footer ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop-footer ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}
}

/* MEDIDA 1020 PX */
@media (min-width:1020px) and (min-device-width:1020px) and (max-width: 1280px){

	*{
		margin:0;
		padding: 0;
	}

	body{
		background: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 2110px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	div#search-after{
		position: absolute;
		width: 100%;
		height: 1700px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 50;
		display: none;
	}

	input#search-after{
		position: relative;
		float: left;
	    width: 700px;
		height: 100px;
		margin-left: -350px;
		top:350px;
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		border: none;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		-webkit-color: #fff;
		-moz-color: #fff;
		-o-color: #fff;
		-ms-color: #fff;
		color: #fff;
		font-weight: 300;
		font-size: 30px;
	}

	a#btn-search-fechar{
		position: absolute;
		top:500px;
		padding: 5px 20px 5px 20px;
		background-color: #00ff7f;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		width: 60px;
		margin-left: -50px;
	}

	a#btn-search-fechar:hover{
		background-color: #ff00b8;
		transition: all 0.5s linear;
	}

	#container{
		background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 95%;
        height: 2090px;
        margin-left: 25px;
	}

	#cabecalho{
		width: 100%;
		height: 80px;
	}

	#logo{
		width: 200px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-header{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	.seta-azul{
		position: absolute;
		width: 15px;
		margin-left: 160px;
		margin-top: 35px;
		cursor: pointer;
	}

	nav#menu-mobile, #hamburguer{
		display: none;
	}

	nav#menu-desktop ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 150px;
	}

	nav#menu-desktop ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}

	#search{
		position: relative;
		float: right;
		width: 100px;
		height: 80px;
		border-left: 1px solid #0031ff;
		margin-top: -80px;
	}

	.lupa{
		position: absolute;
		float: left;
		margin-left: 34px;
		margin-top: 24px;
		cursor: pointer;
	}

    /* TÍTULO DO SITE */
	section#site-title{
		width: 100%;
		height: 60px;
		background-color: #0031ff;
	}

    
	article#site-title{
		width: 960px;
		height: 60px;
		margin-left: -480px;
	}

	article#site-title h3{
		text-align: center;
		font-size: 30px;
		color: #fff;
		margin-top: 10px;
	}

    /* SOBRE A DESCRIÇÃO */
	section#blog-bg{
		width: 100%;
		height: 216px;
		background: url('../img/blog-bg.png') no-repeat center center;
        background-size: cover; /*Css padrão*/
        -webkit-background-size: cover; /*Css safari e chrome*/
        -moz-background-size: cover; /*Css firefox*/
        -ms-background-size: cover; /*Css IE */
        -o-background-size: cover; /*Css Opera*/
	}

	article#blog-bg{
		width: 900px;
		height: 216px;
		margin-left: -450px;
	}

    /* POST AREA */
    section#post-area{
		width: 100%;
		height: 1340px;
		border-bottom: 1px solid #0031ff;
	}

	article#post-area{
		width: 900px;
		height: 1340px;
		margin-left: -450px;
	}

	div#post-info{
        position: relative;
        width: 900px;
        height: 1300px;
        top: 70px;
    }

    div#post-info figure{
        width: 900px;
        height: 400px;
        background-color: gray;
    }

    div#post-info h2{
        position: absolute;
        float: left;
        top: 500px;
        font-size: 24px;
        text-transform: uppercase;
    }

    a.category-link {
        position: absolute;
        float: left;
        background-color: #ff00b8;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #fff;
        top: 450px;
        text-decoration: none;
    }

    p.post-date {
        position: relative !important;
        float: right !important;
        border: 1px solid #0031ff;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #0031ff;
        top: -120px;
        text-decoration: none;
    }

    div#post-info p{
        position: absolute;
        float: left;
        margin-top: 150px;
    }

	/* NEWSLETTER */
	section#newsletter-contato{
		width: 100%;
		height: 320px;
		border-bottom: 1px solid #0031ff;
	}

	article#newsletter-contato{
		position: absolute;
		width: 960px;
		height: 300px;
		margin-left: -480px;
	}

	div#newsletter{
		width: 500px;
		height: 320px;
		border-right: 1px solid #0031ff;
	}

	div#textos{
		position: relative;
		float: left;
		margin-top: 60px;
		margin-left: 20px;
	}

	div#textos p{
		font-size: 18px;
		font-weight: 300;	
	}

	div#textos h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: -5px;	
	}

	div#textos p.gray{
		font-size: 12px;
		font-weight: 300;
		color: #888888;	
	}

	input.newsletter{
		position: relative;
		float: left;
		width: 250px;
		height: 30px;
		border: 1px solid #0031ff;
		padding-left: 15px;
		color: #0031ff;
		margin-left: -48px;
		font-family: 'Montserrat', sans-serif;
	}

	input.btn-ok{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: -267px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-ok:hover{
		background-color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	p.msg-success{
		position: absolute;
		float: left;
		margin-left: 60px;
		width: 170px;
		padding: 5px 5px 5px 5px;
		margin-top: 59px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

	p.msg-success-2{
		position: absolute;
		float: left;
		margin-left: 110px;
		width: 175px;
		padding: 5px 5px 5px 5px;
		margin-top: 24px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

    div#campo-newsletter{
		position: relative;
		float: left;
		margin-top: 160px;
		margin-left: -200px;
	}

	figure#img-newsletter{
		position: relative;
		float: left;
		margin-top: -200px;
		margin-left: 250px;
	}

	img.img-newsletter{
		width: 250px;
	}

	div#form-contato{
		position: relative;
		float: left;
		width: 200px;
		height: 300px;
		margin-left: 550px;
		margin-top: -305px;
	}

	div#form-contato h3{
		font-size: 24px;
	}

	input.form-contato{
		width: 300px;
		height: 30px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
	}

	textarea.textarea{
		width: 300px;
		height: 80px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		padding-top: 15px;	
	}

	input.btn-enviar{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #00ff7f;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: 0px;
		margin-top: 15px;
		cursor: pointer;
	}

	input.btn-enviar:hover{
		background-color: #0031ff;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	footer#rodape{
		width: 100%;
		height: 80px;
	}

	article#rodape{
		position: absolute;
		width: 1280px;
		height: 80px;
		margin-left: -640px;
	}

	div#redes-sociais{
		position: absolute;
		width: 200px;
		height: 78px;
		margin-top: -80px;
		margin-left: 330px;
		border-right: 1px solid #0031ff;
	}

	.facebook, .twitter, .instagram{
		padding-left: 25px;
		width: 20px;
		margin-top: 30px;
		margin-left: 8px;
	}

	#logo-footer{
		width: 150px;
		height: 80px;
		border-right: 1px solid #0031ff;
		margin-left: 180px;
	}

	.logo-footer{
		position: absolute;
		float: left;
		margin-left: 15px;
		margin-top: 20px;
	}

	nav#menu-desktop-footer ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 200px;
	}

	nav#menu-desktop-footer ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop-footer ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop-footer ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}
}

/* MEDIDA 970PX */
@media (min-width:970px) and (min-device-width:970px) and (max-width: 1019px){

	*{
		margin:0;
		padding: 0;
	}

	body{
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 2110px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	
	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	div#search-after{
		position: absolute;
		width: 100%;
		height: 1700px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 50;
		display: none;
	}

	input#search-after{
		position: relative;
		float: left;
	    width: 700px;
		height: 100px;
		margin-left: -350px;
		top:350px;
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		border: none;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		-webkit-color: #fff;
		-moz-color: #fff;
		-o-color: #fff;
		-ms-color: #fff;
		color: #fff;
		font-weight: 300;
		font-size: 30px;
	}

	a#btn-search-fechar{
		position: absolute;
		top:500px;
		padding: 5px 20px 5px 20px;
		background-color: #00ff7f;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		width: 60px;
		margin-left: -50px;
	}

	a#btn-search-fechar:hover{
		background-color: #ff00b8;
		transition: all 0.5s linear;
	}

	#container{
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 95%;
        height: 2090px;
        margin-left: 25px;
	}

	#cabecalho{
		width: 100%;
		height: 80px;
	}

	#logo{
		width: 200px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-header{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	.seta-azul{
		position: absolute;
		width: 15px;
		margin-left: 160px;
		margin-top: 35px;
		cursor: pointer;
	}

	nav#menu-mobile, #hamburguer{
		display: none;
	}

	nav#menu-desktop ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 150px;
	}

	nav#menu-desktop ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}

	#search{
		position: relative;
		float: right;
		width: 100px;
		height: 80px;
		border-left: 1px solid #0031ff;
		margin-top: -80px;
	}

	.lupa{
		position: absolute;
		float: left;
		margin-left: 34px;
		margin-top: 24px;
		cursor: pointer;
	}

	/* TÍTULO DO SITE */
	section#site-title{
		width: 100%;
		height: 60px;
		background-color: #0031ff;
	}

    
	article#site-title{
		width: 960px;
		height: 60px;
		margin-left: -480px;
	}

	article#site-title h3{
		text-align: center;
		font-size: 30px;
		color: #fff;
		margin-top: 10px;
	}

    /* SOBRE A DESCRIÇÃO */
	section#blog-bg{
		width: 100%;
		height: 216px;
		background: url('../img/blog-bg.png') no-repeat center center;
        background-size: cover; /*Css padrão*/
        -webkit-background-size: cover; /*Css safari e chrome*/
        -moz-background-size: cover; /*Css firefox*/
        -ms-background-size: cover; /*Css IE */
        -o-background-size: cover; /*Css Opera*/
	}

	article#blog-bg{
		width: 900px;
		height: 216px;
		margin-left: -450px;
	}

    /* POST AREA */
    section#post-area{
		width: 100%;
		height: 1340px;
		border-bottom: 1px solid #0031ff;
	}

	article#post-area{
		width: 860px;
        height: 1340px;
        margin-left: -430px;
	}

	div#post-info{
        position: relative;
        width: 860px;
        height: 1300px;
        top: 70px;
    }

    div#post-info figure{
        width: 860px;
        height: 400px;
        background-color: gray;
    }

    div#post-info h2{
        position: absolute;
        float: left;
        top: 500px;
        font-size: 24px;
        text-transform: uppercase;
    }

    a.category-link {
        position: absolute;
        float: left;
        background-color: #ff00b8;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #fff;
        top: 450px;
        text-decoration: none;
    }

    p.post-date {
        position: relative !important;
        float: right !important;
        border: 1px solid #0031ff;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #0031ff;
        top: -120px;
        text-decoration: none;
    }

    div#post-info p{
        position: absolute;
        float: left;
        margin-top: 150px;
    }

	/* NEWSLETTER */
	section#newsletter-contato{
		width: 100%;
		height: 320px;
		border-bottom: 1px solid #0031ff;
	}

	article#newsletter-contato{
		position: absolute;
		width: 960px;
		height: 300px;
		margin-left: -480px;
	}

	div#newsletter{
		width: 500px;
		height: 320px;
		border-right: 1px solid #0031ff;
	}

	div#textos{
		position: relative;
		float: left;
		margin-top: 60px;
		margin-left: 50px;
	}

	div#textos p{
		font-size: 18px;
		font-weight: 300;	
	}

	div#textos h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: -5px;	
	}

	div#textos p.gray{
		font-size: 12px;
		font-weight: 300;
		color: #888888;	
	}

	input.newsletter{
		position: relative;
		float: left;
		width: 250px;
		height: 30px;
		border: 1px solid #0031ff;
		padding-left: 15px;
		color: #0031ff;
		margin-left: -48px;
		font-family: 'Montserrat', sans-serif;
	}

	input.btn-ok{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: -267px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-ok:hover{
		background-color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	p.msg-success{
		position: absolute;
		float: left;
		margin-left: 60px;
		width: 170px;
		padding: 5px 5px 5px 5px;
		margin-top: 59px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

	p.msg-success-2{
		position: absolute;
		float: left;
		margin-left: 110px;
		width: 175px;
		padding: 5px 5px 5px 5px;
		margin-top: 24px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

    div#campo-newsletter{
		position: relative;
		float: left;
		margin-top: 160px;
		margin-left: -200px;
	}

	figure#img-newsletter{
		position: relative;
		float: left;
		margin-top: -200px;
		margin-left: 280px;
	}

	img.img-newsletter{
		width: 220px;
	}

	div#form-contato{
		position: relative;
		float: left;
		width: 200px;
		height: 300px;
		margin-left: 560px;
		margin-top: -305px;
	}

	div#form-contato h3{
		font-size: 24px;
	}

	input.form-contato{
		width: 300px;
		height: 30px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
	}

	textarea.textarea{
		width: 300px;
		height: 80px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		padding-top: 15px;	
	}

	input.btn-enviar{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #00ff7f;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: 0px;
		margin-top: 15px;
		cursor: pointer;
	}

	input.btn-enviar:hover{
		background-color: #0031ff;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	footer#rodape{
		width: 100%;
		height: 80px;
	}

	article#rodape{
		position: absolute;
		width: 1280px;
		height: 80px;
		margin-left: -640px;
	}

	div#redes-sociais{
		position: absolute;
		width: 200px;
		height: 78px;
		margin-top: -80px;
		margin-left: 330px;
		border-right: 1px solid #0031ff;
	}

	.facebook, .twitter, .instagram{
		padding-left: 25px;
		width: 20px;
		margin-top: 30px;
		margin-left: 14px;
	}

	#logo-footer{
		width: 150px;
		height: 80px;
		border-right: 1px solid #0031ff;
		margin-left: 200px;
	}

	.logo-footer{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	nav#menu-desktop-footer ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 220px;
	}

	nav#menu-desktop-footer ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop-footer ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop-footer ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}
}

/* MEDIDA 760PX */
@media (min-width:760px) and (min-device-width:760px) and (max-width: 969px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		max-width: 969px;
		height: 2540px;
		overflow-x: hidden !important;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	/*section, article{
		overflow-x: hidden !important;
		width: 100% !important;
	}*/

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	div#search-after{
		position: absolute;
		width: 100%;
		height: 1700px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 50;
		display: none;
	}

	input#search-after{
		position: relative;
		float: left;
	    width: 700px;
		height: 100px;
		margin-left: -350px;
		top:350px;
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		border: none;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		-webkit-color: #fff;
		-moz-color: #fff;
		-o-color: #fff;
		-ms-color: #fff;
		color: #fff;
		font-weight: 300;
		font-size: 30px;
	}

	a#btn-search-fechar{
		position: absolute;
		top:500px;
		padding: 5px 20px 5px 20px;
		background-color: #00ff7f;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		width: 60px;
		margin-left: -50px;
	}

	a#btn-search-fechar:hover{
		background-color: #ff00b8;
		transition: all 0.5s linear;
	}

	#container{
		background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 95%;
        height: 2520px;
        margin-left: 20px;
	}

	#cabecalho{
		width: 100%;
		height: 80px;
	}

	#logo{
		width: 200px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-header{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	.seta-azul{
		position: absolute;
		width: 15px;
		margin-left: 160px;
		margin-top: 35px;
		cursor: pointer;
	}

	nav#menu-mobile{
		position: absolute;
		width: 100% !important;
		height: 1000px;
		z-index: 70;
		background: linear-gradient(132deg, #0031ff, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		overflow-x: hidden !important; 
		padding-top: 50px;
		z-index: 90;
		display: none;
	}

	

	nav#menu-mobile ul li{
		text-align: center;
		margin-top: 50px;
		list-style: none;
	}

	nav#menu-mobile ul li a{
		text-decoration: none;
		font-size: 36px;
		color: #fff;
		text-transform: uppercase;
	}

	nav#menu-mobile ul li a:hover{
		border-top: 2px solid #fff;
		padding-top: 10px;
		color: #00ff7f;
		text-transform: uppercase;
		transition: all 0.2s linear;
	}

	img#close{
		position: relative;
        width: 4%;
        margin-top: 50px;
        margin-left: -10px;
        cursor: pointer;
	}

	div#hamburguer{
		position: relative;
		float: right;
		width: 60px;
		height: 50px;
		margin-right: 140px;
		margin-top: 18px;
		cursor: pointer;
	}

	div.trace{
		width: 100%;
		height: 5px;
		background: linear-gradient(132deg, #0031ff, #00ff7f);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
	}

	nav#menu-desktop{
		display: none;
	}

	nav#menu-desktop ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 150px;
	}

	nav#menu-desktop ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}

	#search{
		position: relative;
		float: right;
		width: 100px;
		height: 80px;
		border-left: 1px solid #0031ff;
		margin-top: -80px;
	}

	.lupa{
		position: absolute;
		float: left;
		margin-left: 34px;
		margin-top: 24px;
		cursor: pointer;
	}

	/* TÍTULO DO SITE */
	section#site-title{
		width: 100%;
		height: 60px;
		background-color: #0031ff;
	}

    
	article#site-title{
		width: 720px;
		height: 60px;
		margin-left: -480px;
	}

	article#site-title h3{
		position: relative;
		margin-left: 300px;
		font-size: 30px;
		color: #fff;
		margin-top: 10px;
	}

    /* SOBRE A DESCRIÇÃO */
	section#blog-bg{
		width: 100%;
		height: 216px;
		background: url('../img/blog-bg.png') no-repeat center center;
        background-size: cover; /*Css padrão*/
        -webkit-background-size: cover; /*Css safari e chrome*/
        -moz-background-size: cover; /*Css firefox*/
        -ms-background-size: cover; /*Css IE */
        -o-background-size: cover; /*Css Opera*/
	}

	article#blog-bg{
		width: 700px;
		height: 216px;
		margin-left: -350px;
	}

    /* POST AREA */
    section#post-area{
		width: 100%;
		height: 1340px;
		border-bottom: 1px solid #0031ff;
	}

	article#post-area{
		width: 650px;
        height: 1340px;
        margin-left: -320px;
	}

	div#post-info{
        position: relative;
        width: 650px;
        height: 1300px;
        top: 70px;
    }

    div#post-info figure{
        width: 650px;
        height: 300px;
        background-color: gray;
    }

    div#post-info h2{
        position: absolute;
        float: left;
        top: 400px;
        font-size: 24px;
        text-transform: uppercase;
    }

    a.category-link {
        position: absolute;
        float: left;
        background-color: #ff00b8;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #fff;
        top: 350px;
        text-decoration: none;
    }

    p.post-date {
        position: relative !important;
        float: right !important;
        border: 1px solid #0031ff;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #0031ff;
        top: -120px;
        text-decoration: none;
    }

    div#post-info p{
        position: absolute;
        float: left;
        margin-top: 150px;
    }

    /* NEWSLETTER */
	section#newsletter-contato{
		width: 100%;
		height: 750px;
		border-bottom: 1px solid #0031ff;
	}

	article#newsletter-contato{
		position: absolute;
		width: 720px;
		height: 750px;
		margin-left: -360px;
	}

	div#newsletter{
		width: 400px;
		height: 320px;
	}

	div#textos{
		position: relative;
		float: left;
		margin-top: 60px;
		margin-left: 50px;
	}

	div#textos p{
		font-size: 18px;
		font-weight: 300;	
	}

	div#textos h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: -5px;	
	}

	div#textos p.gray{
		font-size: 12px;
		font-weight: 300;
		color: #888888;	
	}

	input.newsletter{
		position: relative;
		float: left;
		width: 250px;
		height: 30px;
		border: 1px solid #0031ff;
		padding-left: 15px;
		color: #0031ff;
		margin-left: -48px;
		font-family: 'Montserrat', sans-serif;
	}

	input.btn-ok{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: -267px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-ok:hover{
		background-color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	p.msg-success{
		position: absolute;
		float: left;
		margin-left: 60px;
		width: 170px;
		padding: 5px 5px 5px 5px;
		margin-top: 59px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

	p.msg-success-2{
		position: absolute;
		float: left;
		margin-left: 160px;
		width: 175px;
		padding: 5px 5px 5px 5px;
		margin-top: 60px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

    div#campo-newsletter{
		position: relative;
		float: left;
		margin-top: 160px;
		margin-left: -200px;
	}

	figure#img-newsletter{
		position: relative;
		float: left;
		margin-top: -200px;
		margin-left: 280px;
	}

	img.img-newsletter{
		width: 220px;
	}

	div#form-contato{
		position: relative;
		float: left;
		width: 95%;
		height: 400px;
		margin-left: 0px;
		margin-top: 0px;
	}

	div#form-contato h3{
		font-size: 24px;
		margin-left: 50px;
		margin-top: 50px;
	}

	input.form-contato{
		width: 600px;
		height: 30px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		margin-left: 50px;
	}

	textarea.textarea{
		width: 600px;
		height: 80px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		padding-top: 15px;	
		margin-left: -100px;
	}

	input.btn-enviar{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #00ff7f;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: 50px;
		margin-top: 150px;
		cursor: pointer;
	}

	input.btn-enviar:hover{
		background-color: #0031ff;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	footer#rodape{
		width: 100%;
		height: 80px;
	}

	article#rodape{
		position: absolute;
		width: 720px;
		height: 80px;
		margin-left: -640px;
	}

	div#redes-sociais{
		position: absolute;
		width: 200px;
		height: 80px;
		margin-top: -80px;
		margin-left: 430px;
		border-right: 1px solid #0031ff;
	}

	.facebook, .twitter, .instagram{
		padding-left: 25px;
		width: 20px;
		margin-top: 30px;
		margin-left: 14px;
	}

	#logo-footer{
		width: 150px;
		height: 80px;
		border-right: 1px solid #0031ff;
		margin-left: 300px;
	}

	.logo-footer{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	nav#menu-desktop-footer{
		display: none;
	}

	nav#menu-desktop-footer ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 220px;
	}

	nav#menu-desktop-footer ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop-footer ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop-footer ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}
}

/* MEDIDA 630PX */
@media (min-width:630px) and (min-device-width:630px) and (max-width: 759px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		max-width: 759px;
		height: 2320px;
		overflow-x: hidden !important;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	/*section, article{
		overflow-x: hidden !important;
		width: 100% !important;
	}*/

	

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	div#search-after{
		position: absolute;
		width: 100%;
		height: 1700px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 50;
		display: none;
	}

	input#search-after{
		position: relative;
		float: left;
	    width: 600px;
		height: 100px;
		margin-left: -300px;
		top:350px;
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		border: none;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		-webkit-color: #fff;
		-moz-color: #fff;
		-o-color: #fff;
		-ms-color: #fff;
		color: #fff;
		font-weight: 300;
		font-size: 30px;
	}

	a#btn-search-fechar{
		position: absolute;
		top:500px;
		padding: 5px 20px 5px 20px;
		background-color: #00ff7f;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		width: 60px;
		margin-left: -50px;
	}

	a#btn-search-fechar:hover{
		background-color: #ff00b8;
		transition: all 0.5s linear;
	}

	#container{
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 95%;
        height: 2310px;
        margin-left: 15px;
	}

	#cabecalho{
		width: 100%;
		height: 80px;
	}

	#logo{
		width: 200px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-header{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	.seta-azul{
		position: absolute;
		width: 15px;
		margin-left: 160px;
		margin-top: 35px;
		cursor: pointer;
	}

	nav#menu-mobile{
		position: absolute;
		width: 100% !important;
		height: 1000px;
		z-index: 70;
		background: linear-gradient(132deg, #0031ff, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		overflow-x: hidden !important; 
		padding-top: 50px;
		z-index: 90;
		display: none;
	}

	

	nav#menu-mobile ul li{
		text-align: center;
		margin-top: 50px;
		list-style: none;
	}

	nav#menu-mobile ul li a{
		text-decoration: none;
		font-size: 36px;
		color: #fff;
		text-transform: uppercase;
	}

	nav#menu-mobile ul li a:hover{
		border-top: 2px solid #fff;
		padding-top: 10px;
		color: #00ff7f;
		text-transform: uppercase;
		transition: all 0.2s linear;
	}

	img#close{
		position: relative;
        width: 4%;
        margin-top: 50px;
        margin-left: -10px;
        cursor: pointer;
	}

	div#hamburguer{
		position: relative;
		float: right;
		width: 60px;
		height: 50px;
		margin-right: 140px;
		margin-top: 18px;
		cursor: pointer;
	}

	div.trace{
		width: 100%;
		height: 5px;
		background: linear-gradient(132deg, #0031ff, #00ff7f);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
	}

	nav#menu-desktop{
		display: none;
	}

	nav#menu-desktop ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 150px;
	}

	nav#menu-desktop ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}

	#search{
		position: relative;
		float: right;
		width: 100px;
		height: 80px;
		border-left: 1px solid #0031ff;
		margin-top: -80px;
	}

	.lupa{
		position: absolute;
		float: left;
		margin-left: 34px;
		margin-top: 24px;
		cursor: pointer;
	}

	/* TÍTULO DO SITE */
	section#site-title{
		width: 100%;
		height: 60px;
		background-color: #0031ff;
	}

    
	article#site-title{
		width: 610px;
		height: 60px;
		margin-left: -300px;
	}

	article#site-title h3{
		text-align: center;
		font-size: 30px;
		color: #fff;
		margin-top: 10px;
	}

    /* POST AREA */
    section#post-area{
		width: 100%;
		height: 1340px;
		border-bottom: 1px solid #0031ff;
	}

	article#post-area{
		width: 550px;
        height: 1340px;
        margin-left: -275px;
	}

	div#post-info{
        position: relative;
        width: 550px;
        height: 1300px;
        top: 70px;
    }

    div#post-info figure{
        width: 550px;
        height: 300px;
        background-color: gray;
    }

    div#post-info h2{
        position: absolute;
        float: left;
        top: 400px;
        font-size: 24px;
        text-transform: uppercase;
    }

    a.category-link {
        position: absolute;
        float: left;
        background-color: #ff00b8;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #fff;
        top: 350px;
        text-decoration: none;
    }

    p.post-date {
        position: relative !important;
        float: right !important;
        border: 1px solid #0031ff;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #0031ff;
        top: -120px;
        text-decoration: none;
    }

    div#post-info p{
        position: absolute;
        float: left;
        margin-top: 150px;
    }

    /* NEWSLETTER */
	section#newsletter-contato{
		width: 100%;
		height: 750px;
		border-bottom: 1px solid #0031ff;
	}

	article#newsletter-contato{
		position: absolute;
		width: 600px;
		height: 750px;
		margin-left: -360px;
	}

	div#newsletter{
		width: 500px;
		height: 320px;
	}

	div#textos{
		position: relative;
		float: left;
		margin-top: 60px;
		margin-left: 130px;
	}

	div#textos p{
		font-size: 18px;
		font-weight: 300;	
	}

	div#textos h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: -5px;	
	}

	div#textos p.gray{
		font-size: 12px;
		font-weight: 300;
		color: #888888;	
	}

	input.newsletter{
		position: relative;
		float: left;
		width: 250px;
		height: 30px;
		border: 1px solid #0031ff;
		padding-left: 15px;
		color: #0031ff;
		margin-left: -48px;
		font-family: 'Montserrat', sans-serif;
	}

	input.btn-ok{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: -267px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-ok:hover{
		background-color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	p.msg-success{
		position: absolute;
		float: left;
		margin-left: 60px;
		width: 170px;
		padding: 5px 5px 5px 5px;
		margin-top: 59px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

	p.msg-success-2{
		position: absolute;
		float: left;
		margin-left: 160px;
		width: 175px;
		padding: 5px 5px 5px 5px;
		margin-top: 60px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

    div#campo-newsletter{
		position: relative;
		float: left;
		margin-top: 160px;
		margin-left: -200px;
	}

	figure#img-newsletter{
		position: relative;
		float: left;
		margin-top: -200px;
		margin-left: 380px;
	}

	img.img-newsletter{
		width: 220px;
	}

	div#form-contato{
		position: relative;
		float: left;
		width: 95%;
		height: 400px;
		margin-left: 50px;
		margin-top: 0px;
	}

	div#form-contato h3{
		font-size: 24px;
		margin-left: 50px;
		margin-top: 50px;
	}

	input.form-contato{
		width: 500px;
		height: 30px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		margin-left: 50px;
	}

	textarea.textarea{
		width: 500px;
		height: 80px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		padding-top: 15px;	
		margin-left: -100px;
	}

	input.btn-enviar{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #00ff7f;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: 50px;
		margin-top: 150px;
		cursor: pointer;
	}

	input.btn-enviar:hover{
		background-color: #0031ff;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	footer#rodape{
		width: 100%;
		height: 80px;
	}

	article#rodape{
		position: absolute;
		width: 420px;
		height: 80px;
		margin-left: -640px;
	}

	div#redes-sociais{
		position: absolute;
		width: 200px;
		height: 80px;
		margin-top: -80px;
		margin-left: 480px;
		border-right: 1px solid #0031ff;
	}

	.facebook, .twitter, .instagram{
		padding-left: 25px;
		width: 20px;
		margin-top: 30px;
		margin-left: 14px;
	}

	#logo-footer{
		width: 150px;
		height: 80px;
		border-right: 1px solid #0031ff;
		margin-left: 350px;
	}

	.logo-footer{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	nav#menu-desktop-footer{
		display: none;
	}

	nav#menu-desktop-footer ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 220px;
	}

	nav#menu-desktop-footer ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop-footer ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop-footer ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}
}

/* MEDIDA 470PX */
@media (min-width:470px) and (min-device-width:470px) and (max-width: 629px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		max-width: 630px;
		height: 2660px;
		overflow-x: hidden !important;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	/*section, article{
		overflow-x: hidden !important;
		width: 100% !important;
	}*/

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	div#search-after{
		position: absolute;
		width: 100%;
		height: 1700px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 50;
		display: none;
	}

	input#search-after{
		position: relative;
		float: left;
	    width: 420px;
		height: 100px;
		margin-left: -210px;
		top:350px;
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		border: none;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		-webkit-color: #fff;
		-moz-color: #fff;
		-o-color: #fff;
		-ms-color: #fff;
		color: #fff;
		font-weight: 300;
		font-size: 30px;
	}

	a#btn-search-fechar{
		position: absolute;
		top:500px;
		padding: 5px 20px 5px 20px;
		background-color: #00ff7f;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		width: 60px;
		margin-left: -50px;
	}

	a#btn-search-fechar:hover{
		background-color: #ff00b8;
		transition: all 0.5s linear;
	}

	#container{
		background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 95%;
        height: 2660px;
        margin-left: 12px;
	}

	#cabecalho{
		width: 100%;
		height: 80px;
	}

	#logo{
		width: 180px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-header{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
	}

	.seta-azul{
		position: absolute;
		width: 15px;
		margin-left: 140px;
		margin-top: 35px;
		cursor: pointer;
	}

	nav#menu-mobile{
		position: absolute;
		width: 100% !important;
		height: 1000px;
		z-index: 70;
		background: linear-gradient(132deg, #0031ff, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		overflow-x: hidden !important; 
		padding-top: 50px;
		z-index: 90;
		display: none;
	}

	

	nav#menu-mobile ul li{
		text-align: center;
		margin-top: 50px;
		list-style: none;
	}

	nav#menu-mobile ul li a{
		text-decoration: none;
		font-size: 36px;
		color: #fff;
		text-transform: uppercase;
	}

	nav#menu-mobile ul li a:hover{
		border-top: 2px solid #fff;
		padding-top: 10px;
		color: #00ff7f;
		text-transform: uppercase;
		transition: all 0.2s linear;
	}

	img#close{
		position: relative;
        width: 4%;
        margin-top: 50px;
        margin-left: -10px;
        cursor: pointer;
	}

	div#hamburguer{
		position: relative;
		float: right;
		width: 60px;
		height: 50px;
		margin-right: 140px;
		margin-top: 18px;
		cursor: pointer;
	}

	div.trace{
		width: 100%;
		height: 5px;
		background: linear-gradient(132deg, #0031ff, #00ff7f);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
	}

	nav#menu-desktop{
		display: none;
	}

	nav#menu-desktop ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 150px;
	}

	nav#menu-desktop ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}

	#search{
		position: relative;
		float: right;
		width: 100px;
		height: 80px;
		border-left: 1px solid #0031ff;
		margin-top: -80px;
	}

	.lupa{
		position: absolute;
		float: left;
		margin-left: 34px;
		margin-top: 24px;
		cursor: pointer;
	}

	/* TÍTULO DO SITE */
	section#site-title{
		width: 100%;
		height: 60px;
		background-color: #0031ff;
	}

    
	article#site-title{
		width: 450px;
		height: 60px;
		margin-left: -300px;
	}

	article#site-title h3{
        font-size: 24px;
        color: #fff;
        margin-top: 15px;
        margin-left: 170px;
        width: 350px;
	}

    /* SOBRE A DESCRIÇÃO */
	section#blog-bg{
		width: 100%;
		height: 216px;
		background: url('../img/blog-bg.png') no-repeat center center;
        background-size: cover; /*Css padrão*/
        -webkit-background-size: cover; /*Css safari e chrome*/
        -moz-background-size: cover; /*Css firefox*/
        -ms-background-size: cover; /*Css IE */
        -o-background-size: cover; /*Css Opera*/
	}

	article#blog-bg{
		width: 420px;
		height: 216px;
		margin-left: -210px;
	}

    /* POST AREA */
    section#post-area{
		width: 100%;
		height: 1340px;
		border-bottom: 1px solid #0031ff;
	}

	article#post-area{
        width: 400px;
        height: 1340px;
        margin-left: -200px;
	}

	div#post-info{
        position: relative;
        width:400px;
        height: 1300px;
        top: 70px;
    }

    div#post-info figure{
        width: 400px;
        height: 300px;
        background-color: gray;
    }

    div#post-info h2{
        position: absolute;
        float: left;
        top: 400px;
        font-size: 24px;
        text-transform: uppercase;
    }

    a.category-link {
        position: absolute;
        float: left;
        background-color: #ff00b8;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #fff;
        top: 350px;
        text-decoration: none;
    }

    p.post-date {
        position: relative !important;
        float: right !important;
        border: 1px solid #0031ff;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #0031ff;
        top: -120px;
        text-decoration: none;
    }

    div#post-info p{
        position: absolute;
        float: left;
        margin-top: 150px;
    }

    /* NEWSLETTER */
	section#newsletter-contato{
		width: 100%;
		height: 900px;
		border-bottom: 1px solid #0031ff;
	}

	article#newsletter-contato{
		position: absolute;
		width: 420px;
		height: 900px;
		margin-left: -275px;
	}

	div#newsletter{
		width: 500px;
		height: 320px;
	}

	div#textos{
		position: relative;
		float: left;
		margin-top: 60px;
		margin-left: 130px;
	}

	div#textos p{
		font-size: 18px;
		font-weight: 300;	
	}

	div#textos h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: -5px;	
	}

	div#textos p.gray{
		font-size: 12px;
		font-weight: 300;
		color: #888888;	
	}

	input.newsletter{
		position: relative;
		float: left;
		width: 250px;
		height: 30px;
		border: 1px solid #0031ff;
		padding-left: 15px;
		color: #0031ff;
		margin-left: -48px;
		font-family: 'Montserrat', sans-serif;
	}

	input.btn-ok{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: -267px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-ok:hover{
		background-color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	p.msg-success{
		position: absolute;
		float: left;
		margin-left: 60px;
		width: 170px;
		padding: 5px 5px 5px 5px;
		margin-top: 59px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

	p.msg-success-2{
		position: absolute;
		float: left;
		margin-left: 160px;
		width: 175px;
		padding: 5px 5px 5px 5px;
		margin-top: 60px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

    div#campo-newsletter{
		position: relative;
		float: left;
		margin-top: 160px;
		margin-left: -200px;
	}

	figure#img-newsletter{
		position: relative;
		float: left;
		margin-top: 0px;
		margin-left: 150px;
	}

	img.img-newsletter{
		width: 220px;
	}

	div#form-contato{
		position: relative;
		float: left;
		width: 95%;
		height: 420px;
		margin-left: 50px;
		margin-top: 0px;
		z-index: 90;
	}

	div#form-contato h3{
		font-size: 24px;
		margin-left: 50px;
		margin-top: 50px;
	}

	input.form-contato{
		width: 330px;
		height: 30px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		margin-left: 50px;
	}

	textarea.textarea{
		width: 330px;
		height: 80px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		padding-top: 15px;	
		margin-left: -100px;
	}

	input.btn-enviar{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #00ff7f;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: 50px;
		margin-top: 150px;
		cursor: pointer;
	}

	input.btn-enviar:hover{
		background-color: #0031ff;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	footer#rodape{
		width: 100%;
		height: 80px;
		margin-top: 0px;
		background-color: none;
	}

	article#rodape{
		position: absolute;
		width: 420px;
		height: 80px;
		margin-left: -640px;
		background-color: none;
	}

	div#redes-sociais{
		position: absolute;
		width: 200px;
		height: 70px;
		margin-top: -70px;
		margin-left: 550px;
		border-right: 1px solid #0031ff;
	}

	.facebook, .twitter, .instagram{
		padding-left: 25px;
		width: 20px;
		margin-top: 25px;
		margin-left: 14px;
	}

	#logo-footer{
		position: relative;
		width: 150px;
		height: 68px;
		border-right: 1px solid #0031ff;
		margin-left: 420px;
		z-index: 99;
	}

	.logo-footer{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 15px;
	}

	nav#menu-desktop-footer{
		display: none;
	}

	nav#menu-desktop-footer ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 220px;
	}

	nav#menu-desktop-footer ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop-footer ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop-footer ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}
}

/* MEDIDA 360 PX */
@media (min-width:360px) and (min-device-width:360px) and (max-width: 469px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		max-width: 469px;
		height: 2830px;
		overflow-x: hidden !important;
	}

	/*section, article{
		overflow-x: hidden !important;
		width: 100% !important;
	}*/

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	div#search-after{
		position: absolute;
		width: 100%;
		height: 1700px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 50;
		display: none;
	}

	input#search-after{
		position: relative;
		float: left;
	    width: 320px;
		height: 100px;
		margin-left: -160px;
		top:150px;
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		border: none;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		-webkit-color: #fff;
		-moz-color: #fff;
		-o-color: #fff;
		-ms-color: #fff;
		color: #fff;
		font-weight: 300;
		font-size: 30px;
	}

	a#btn-search-fechar{
		position: absolute;
		top:280px;
		padding: 5px 20px 5px 20px;
		background-color: #00ff7f;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		width: 60px;
		margin-left: -50px;
	}

	a#btn-search-fechar:hover{
		background-color: #ff00b8;
		transition: all 0.5s linear;
	}

	#container{
		background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 95%;
        height: 2820px;
        margin-left: 10px;
	}

	#cabecalho{
		width: 100%;
		height: 80px;
	}

	#logo{
		width: 150px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-header{
		position: absolute;
		float: left;
		margin-left: 10px;
		margin-top: 20px;
	}

	.seta-azul{
		position: absolute;
		width: 15px;
		margin-left: 120px;
		margin-top: 35px;
		cursor: pointer;
	}

	nav#menu-mobile{
		position: absolute;
		width: 100% !important;
		height: 1000px;
		z-index: 70;
		background: linear-gradient(132deg, #0031ff, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		overflow-x: hidden !important; 
		padding-top: 10px;
		z-index: 90;
		display: none;
	}

	nav#menu-mobile ul li{
		text-align: center;
		margin-top: 50px;
		list-style: none;
	}

	nav#menu-mobile ul li a{
		text-decoration: none;
		font-size: 28px;
		color: #fff;
		text-transform: uppercase;
	}

	nav#menu-mobile ul li a:hover{
		border-top: 2px solid #00ff7f;
		padding-top: 10px;
		color: #00ff7f;
		text-transform: uppercase;
		transition: all 0.2s linear;
	}

	img#close{
		position: relative;
        width: 4%;
        margin-top: 50px;
        margin-left: -10px;
        cursor: pointer;
	}

	div#hamburguer{
		position: relative;
		float: right;
		width: 60px;
		height: 50px;
		margin-right: 110px;
		margin-top: 18px;
		cursor: pointer;
	}

	div.trace{
		width: 100%;
		height: 5px;
		background: linear-gradient(132deg, #0031ff, #00ff7f);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
	}

	nav#menu-desktop{
		display: none;
	}

	nav#menu-desktop ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 150px;
	}

	nav#menu-desktop ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}

	#search{
		position: relative;
		float: right;
		width: 80px;
		height: 80px;
		border-left: 1px solid #0031ff;
		margin-top: -80px;
	}

	.lupa{
		position: absolute;
		float: left;
		margin-left: 24px;
		margin-top: 24px;
		cursor: pointer;
	}

	/* TÍTULO DO SITE */
	section#site-title{
		width: 100%;
		height: 60px;
		background-color: #0031ff;
	}

    
	article#site-title{
		width: 320px;
		height: 60px;
		margin-left: -300px;
	}

	article#site-title h3{
		font-size: 24px;
        color: #fff;
        margin-top: 15px;
        margin-left: 165px;
        width: 300px;
	}

    /* SOBRE A DESCRIÇÃO */
	section#blog-bg{
		width: 100%;
		height: 216px;
		background: url('../img/blog-bg.png') no-repeat center center;
        background-size: cover; /*Css padrão*/
        -webkit-background-size: cover; /*Css safari e chrome*/
        -moz-background-size: cover; /*Css firefox*/
        -ms-background-size: cover; /*Css IE */
        -o-background-size: cover; /*Css Opera*/
	}

	article#blog-bg{
		width: 320px;
		height: 216px;
		margin-left: -160px;
	}

    /* POST AREA */
    section#post-area{
		width: 100%;
		height: 1500px;
		border-bottom: 1px solid #0031ff;
	}

	article#post-area{
        width: 300px;
        height: 1500px;
        margin-left: -150px;
	}

	div#post-info{
        position: relative;
        width:300px;
        height: 1300px;
        top: 70px;
    }

    div#post-info figure{
        width: 300px;
        height: 250px;
        background-color: gray;
    }

    div#post-info h2{
        position: absolute;
        float: left;
        top: 400px;
        font-size: 24px;
        text-transform: uppercase;
    }

    a.category-link {
        position: absolute;
        float: left;
        background-color: #ff00b8;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #fff;
        top: 300px;
        text-decoration: none;
    }

    p.post-date {
        position: relative;
        float: left;
        border: 1px solid #0031ff;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #0031ff;
        top: 150px;
        text-decoration: none;
    }

    div#post-info p{
        position: absolute;
        float: left;
        margin-top: 200px;
    }

    /* NEWSLETTER */
	section#newsletter-contato{
		width: 100%;
		height: 900px;
		border-bottom: 1px solid #0031ff;
	}

	article#newsletter-contato{
		position: absolute;
		width: 260px;
		height: 900px;
		margin-left: -250px;
	}

	div#newsletter{
		width: 400px;
		height: 320px;
	}

	div#textos{
		position: relative;
		float: left;
		margin-top: 60px;
		margin-left: 125px;
		z-index: 90;
	}

	div#textos p{
		font-size: 18px;
		font-weight: 300;	
	}

	div#textos h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: -5px;	
	}

	div#textos p.gray{
		font-size: 12px;
		font-weight: 300;
		color: #888888;	
	}

	input.newsletter{
		position: relative;
		float: left;
		width: 240px;
		height: 30px;
		border: 1px solid #0031ff;
		padding-left: 15px;
		color: #0031ff;
		margin-left: -48px;
		font-family: 'Montserrat', sans-serif;
	}

	input.btn-ok{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: -257px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-ok:hover{
		background-color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	p.msg-success{
		position: absolute;
		float: left;
		margin-left: 60px;
		width: 170px;
		padding: 5px 5px 5px 5px;
		margin-top: 59px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

	p.msg-success-2{
		position: absolute;
		float: left;
		margin-left: 160px;
		width: 175px;
		padding: 5px 5px 5px 5px;
		margin-top: 60px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

    div#campo-newsletter{
		position: relative;
		float: left;
		margin-top: 160px;
		margin-left: -200px;
	}

	figure#img-newsletter{
		position: relative;
		float: left;
		margin-top: 0px;
		margin-left: 130px;
	}

	img.img-newsletter{
		width: 220px;
	}

	div#form-contato{
		position: relative;
		float: left;
		width: 95%;
		height: 280px;
		margin-left: 50px;
		margin-top: 0px;
		z-index: 90;
	}

	div#form-contato h3{
		font-size: 24px;
		margin-left: 50px;
		margin-top: 50px;
	}

	input.form-contato{
		width: 280px;
		height: 30px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		margin-left: 50px;
	}

	textarea.textarea{
		width: 280px;
		height: 80px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		padding-top: 15px;	
		margin-left: 50px;
	}

	input.btn-enviar{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #00ff7f;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: 50px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-enviar:hover{
		background-color: #0031ff;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	footer#rodape{
		width: 100%;
		height: 80px;
		margin-top: 0px;
		background-color: none;
	}

	article#rodape{
		position: absolute;
		width: 420px;
		height: 80px;
		margin-left: -640px;
		background-color: none;
	}

	div#redes-sociais{
		position: absolute;
		width: 200px;
		height: 70px;
		margin-top: -70px;
		margin-left: 600px;
	}

	.facebook, .twitter, .instagram{
		padding-left: 25px;
		width: 20px;
		margin-top: 25px;
		margin-left: 14px;
	}

	#logo-footer{
		position: relative;
		width: 140px;
		height: 68px;
		border-right: 1px solid #0031ff;
		margin-left: 470px;
		z-index: 99;
	}

	.logo-footer{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 15px;
	}

	nav#menu-desktop-footer{
		display: none;
	}

	nav#menu-desktop-footer ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 220px;
	}

	nav#menu-desktop-footer ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop-footer ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop-footer ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}
}

/* MEDIDA 280PX */
@media (min-width:280px) and (min-device-width:280px) and (max-width: 359px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		max-width: 469px;
		height: 3310px;
		overflow-x: hidden !important;
	}

	/*section, article{
		overflow-x: hidden !important;
		width: 100% !important;
	}*/

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	div#search-after{
		position: absolute;
		width: 100%;
		height: 1700px;
		background-color: rgba(255, 255, 255, 0.9);
		z-index: 50;
		display: none;
	}

	input#search-after{
		position: relative;
		float: left;
	    width: 200px;
		height: 100px;
		margin-left: -100px;
		top:150px;
		padding-left: 20px;
		font-family: 'Montserrat', sans-serif;
		border: none;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		-webkit-color: #fff;
		-moz-color: #fff;
		-o-color: #fff;
		-ms-color: #fff;
		color: #fff;
		font-weight: 300;
		font-size: 20px;
	}

	a#btn-search-fechar{
		position: absolute;
		top:280px;
		padding: 5px 20px 5px 20px;
		background-color: #00ff7f;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		text-decoration: none;
		width: 60px;
		margin-left: -50px;
	}

	a#btn-search-fechar:hover{
		background-color: #ff00b8;
		transition: all 0.5s linear;
	}

	#container{
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        width: 95%;
        height: 3330px;
        margin-left: 7px;
	}

	#cabecalho{
		width: 100%;
		height: 80px;
	}

	#logo{
		width: 120px;
		height: 80px;
		border-right: 1px solid #0031ff;
	}

	.logo-header{
		position: absolute;
		float: left;
		margin-left: 10px;
		margin-top: 20px;
	}

	.seta-azul{
		position: absolute;
		width: 15px;
		margin-left: 120px;
		margin-top: 35px;
		cursor: pointer;
		display: none;
	}

	nav#menu-mobile{
		position: absolute;
		width: 100% !important;
		height: 1000px;
		z-index: 70;
		background: linear-gradient(132deg, #0031ff, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		overflow-x: hidden !important; 
		padding-top: 10px;
		z-index: 90;
		display: none;
	}

	nav#menu-mobile ul li{
		text-align: center;
		margin-top: 50px;
		list-style: none;
	}

	nav#menu-mobile ul li a{
		text-decoration: none;
		font-size: 28px;
		color: #fff;
		text-transform: uppercase;
	}

	nav#menu-mobile ul li a:hover{
		border-top: 2px solid #00ff7f;
		padding-top: 10px;
		color: #00ff7f;
		text-transform: uppercase;
		transition: all 0.2s linear;
	}

	img#close{
		position: relative;
        width: 4%;
        margin-top: 50px;
        margin-left: -10px;
        cursor: pointer;
	}

	div#hamburguer{
		position: relative;
		float: right;
		width: 60px;
		height: 50px;
		margin-right: 77px;
		margin-top: 18px;
		cursor: pointer;
	}

	div.trace{
		width: 100%;
		height: 5px;
		background: linear-gradient(132deg, #0031ff, #00ff7f);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
	}

	nav#menu-desktop{
		display: none;
	}

	nav#menu-desktop ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 150px;
	}

	nav#menu-desktop ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}

	#search{
		position: relative;
		float: right;
		width: 60px;
		height: 80px;
		border-left: 1px solid #0031ff;
		margin-top: -80px;
	}

	.lupa{
		position: absolute;
		float: left;
		margin-left: 15px;
		margin-top: 24px;
		cursor: pointer;
	}

	/* TÍTULO DO SITE */
	section#site-title{
		width: 100%;
		height: 60px;
		background-color: #0031ff;
	}

    
	article#site-title{
		width: 320px;
		height: 60px;
		margin-left: -300px;
	}

	article#site-title h3{
		font-size: 20px;
        color: #fff;
        margin-top: 18px;
        margin-left: 185px;
        width: 250px;
	}

    /* SOBRE A DESCRIÇÃO */
	section#blog-bg{
		width: 100%;
		height: 216px;
		background: url('../img/blog-bg.png') no-repeat center center;
        background-size: cover; /*Css padrão*/
        -webkit-background-size: cover; /*Css safari e chrome*/
        -moz-background-size: cover; /*Css firefox*/
        -ms-background-size: cover; /*Css IE */
        -o-background-size: cover; /*Css Opera*/
	}

	article#blog-bg{
		width: 260px;
		height: 216px;
		margin-left: -130px;
	}

    /* POST AREA */
    section#post-area{
        width: 100%;
        height: 2000px;
        border-bottom: 1px solid #0031ff;
	}

	article#post-area{
        width: 240px;
        height: 1500px;
        margin-left: -120px;
	}

	div#post-info{
        position: relative;
        width:240px;
        height: 1300px;
        top: 70px;
    }

    div#post-info figure{
        width: 240px;
        height: 200px;
        background-color: gray;
    }

    div#post-info h2{
        position: absolute;
        float: left;
        top: 350px;
        font-size: 24px;
        text-transform: uppercase;
    }

    a.category-link {
        position: absolute;
        float: left;
        background-color: #ff00b8;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #fff;
        top: 250px;
        text-decoration: none;
    }

    p.post-date {
        position: relative;
        float: left;
        border: 1px solid #0031ff;
        padding: 5px 9px 5px 9px;
        font-weight: 600;
        color: #0031ff;
        top: 100px;
        text-decoration: none;
    }

    div#post-info p{
        position: absolute;
        float: left;
        margin-top: 200px;
    }

	

    /* NEWSLETTER */
	section#newsletter-contato{
		width: 100%;
		height: 900px;
		border-bottom: 1px solid #0031ff;
	}

	article#newsletter-contato{
		position: absolute;
		width: 220px;
		height: 900px;
		margin-left: -220px;
	}

	div#newsletter{
		width: 360px;
		height: 320px;
	}

	div#textos{
		position: relative;
		float: left;
		margin-top: 60px;
		margin-left: 100px;
		z-index: 90;
	}

	div#textos p{
		font-size: 18px;
		font-weight: 300;	
	}

	div#textos h2{
		font-size: 30px;
		font-weight: 700;
		margin-top: -5px;	
	}

	div#textos p.gray{
		font-size: 12px;
		font-weight: 300;
		color: #888888;	
	}

	input.newsletter{
		position: relative;
		float: left;
		width: 220px;
		height: 30px;
		border: 1px solid #0031ff;
		padding-left: 15px;
		color: #0031ff;
		margin-left: -48px;
		font-family: 'Montserrat', sans-serif;
	}

	input.btn-ok{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: -237px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-ok:hover{
		background-color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	p.msg-success{
		position: absolute;
		float: left;
		margin-left: -48px;
		width: 170px;
		padding: 5px 5px 5px 5px;
		margin-top: 100px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

	p.msg-success-2{
		position: absolute;
		float: left;
		margin-left: 50px;
		width: 175px;
		padding: 5px 5px 5px 5px;
		margin-top: 100px;
		font-weight: 600;
		font-size: 10px;
		background: linear-gradient(132deg, #00ff7f, #ff00b8);
		background-size: 400% 400%;
		animation: BackgroundGradient 10s ease infinite;
		color: #fff;
		display: none;
	}

    div#campo-newsletter{
		position: relative;
		float: left;
		margin-top: 160px;
		margin-left: -200px;
	}

	figure#img-newsletter{
		position: relative;
		float: left;
		margin-top: 0px;
		margin-left: 130px;
	}

	img.img-newsletter{
		width: 220px;
	}

	div#form-contato{
		position: relative;
		float: left;
		width: 95%;
		height: 420px;
		margin-left: 50px;
		margin-top: 0px;
		z-index: 90;
	}

	div#form-contato h3{
		font-size: 24px;
		margin-left: 50px;
		margin-top: 50px;
	}

	input.form-contato{
		width: 230px;
		height: 30px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		margin-left: 50px;
	}

	textarea.textarea{
		width: 230px;
		height: 80px;
		border: 1px solid #0031ff;
		margin-top: -1px;
		padding-left: 15px;
		color: #0031ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		padding-top: 15px;	
		margin-left: 50px;
	}

	input.btn-enviar{
		position: relative;
		float: left;
		width: 100px;
		height: 32px;
		background-color: #00ff7f;
		font-family: 'Montserrat', sans-serif;
		border: none;
		color: #fff;
		font-weight: 700;
		margin-left: 50px;
		margin-top: 50px;
		cursor: pointer;
	}

	input.btn-enviar:hover{
		background-color: #0031ff;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}

	footer#rodape{
		width: 100%;
		height: 80px;
		margin-top: 0px;
		background-color: none;
	}

	article#rodape{
		position: absolute;
		width: 220px;
		height: 80px;
		margin-left: -640px;
		background-color: none;
	}

	div#redes-sociais{
		position: absolute;
		width: 170px;
		height: 70px;
		margin-top: -70px;
		margin-left: 600px;
	}

	.facebook, .twitter, .instagram{
		padding-left: 15px;
		width: 20px;
		margin-top: 25px;
		margin-left: 17px;
	}

	#logo-footer{
		position: relative;
		width: 120px;
		height: 72px;
		border-right: 1px solid #0031ff;
		margin-left: 500px;
		z-index: 99;
	}

	.logo-footer{
		position: absolute;
		float: left;
		margin-left: 15px;
		margin-top: 20px;
	}

	nav#menu-desktop-footer{
		display: none;
	}

	nav#menu-desktop-footer ul{
		position: relative;
		float: right;
		margin-top: -50px;
		margin-right: 220px;
	}

	nav#menu-desktop-footer ul li{
		list-style: none;
		display: inline-block;
		padding-left: 50px;
	}

	nav#menu-desktop-footer ul li a{
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		color: #0031ff;
	}

	nav#menu-desktop-footer ul li a:hover{
		color: #00ff7f;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
		border-top: 2px solid #0031ff;
		padding-top: 5px;
	}
}