@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');

@media (min-width:1281px) and (min-device-width:1281px) and (max-width: 2560px){

	*{
		margin:0;
		padding: 0;
	}

	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 36px;
        color: #fff;
        width: 820px;
        text-align: center;
        top: 400px;
        margin-left: -400px;
    }

    a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 480px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
}

/* MEDIDA 1020 PX */
@media (min-width:1020px) and (min-device-width:1020px) and (max-width: 1280px){

	*{
		margin:0;
		padding: 0;
	}

	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 36px;
        color: #fff;
        width: 820px;
        text-align: center;
        top: 400px;
        margin-left: -400px;
    }

	a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 480px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
}

/* MEDIDA 970PX */
@media (min-width:970px) and (min-device-width:970px) and (max-width: 1019px){

	*{
		margin:0;
		padding: 0;
	}

	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 36px;
        color: #fff;
        width: 820px;
        text-align: center;
        top: 400px;
        margin-left: -400px;
    }

	a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 480px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
}

/* MEDIDA 760PX */
@media (min-width:760px) and (min-device-width:760px) and (max-width: 969px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 30px;
        color: #fff;
        width: 720px;
        text-align: center;
        top: 400px;
        margin-left: -350px;
    }

    a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 480px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
	
}

/* MEDIDA 630PX */
@media (min-width:630px) and (min-device-width:630px) and (max-width: 759px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 24px;
        color: #fff;
        width: 600px;
        text-align: center;
        top: 400px;
        margin-left: -300px;
    }

    a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 480px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
}

/* MEDIDA 470PX */
@media (min-width:470px) and (min-device-width:470px) and (max-width: 629px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 24px;
        color: #fff;
        width: 300px;
        text-align: center;
        top: 400px;
        margin-left: -150px;
    }

    a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 480px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
}

/* MEDIDA 360 PX */
@media (min-width:360px) and (min-device-width:360px) and (max-width: 469px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 24px;
        color: #fff;
        width: 300px;
        text-align: center;
        top: 400px;
        margin-left: -150px;
    }

    a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 380px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
}

/* MEDIDA 360 PX */
@media (min-width:360px) and (min-device-width:360px) and (max-width: 469px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 24px;
        color: #fff;
        width: 300px;
        text-align: center;
        top: 250px;
        margin-left: -150px;
    }

    a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 380px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
}

/* MEDIDA 280PX */
@media (min-width:280px) and (min-device-width:280px) and (max-width: 359px){

	*{
		margin:0;
		padding: 0;
	}

	
	body{
		background: linear-gradient(132deg, #0031ff, #a800b5);
		background-size: 400% 400%;
		animation: BackgroundGradient 5s ease infinite;
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		width: 100%;
		height: 1710px;
		overflow-x: hidden;
	}

	@keyframes BackgroundGradient{
		0% {background-position: 0% 50%;}
		50% {background-position: 100% 50%;}
		100% {background-position: 0% 50%;}
	}

	.responsive{
		position: absolute;
		left: 50%;
		right: 50%;
	}

	h2{
        position: relative;
        float: left;
        font-size: 18px;
        color: #fff;
        width: 200px;
        text-align: center;
        top: 250px;
        margin-left: -100px;
    }

    a{
        position: relative;
        float: left;
        width: 200px;
        color: #fff;
        text-decoration: none;
        margin-top: 380px;
        margin-left: -50px;
    }

    a:hover{
        color: #ff93f9;
        transition: all 0.3s linear;
    }
}

